{% extends 'DragoonAdminBundle::base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}

        <form action="" method="post" {{ form_enctype(form) }}>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Formulaire
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for item in form %}
                                {% if item.vars.block_prefixes.1 != 'submit' and item.vars.block_prefixes.1 != 'reset' %}
                                {{ form_row(item) }}
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <div class="panel-footer">
                    {{ form_rest(form) }}
                </div>
            <!-- /.panel-body -->
            </div>
        </form>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
{% endblock %}
